* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball{
    margin: 20px auto;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball1{
    background-color: burlywood;
}
.ball2{
    background-color: rgb(135, 222, 180);
}
.ball3{
    background-color: rgb(255, 93, 91);
}
.ball4{
    background-color: rgb(209, 90, 232);
}