* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball{
    margin: auto auto;
    width: 100px;
    height: 100px;

    background-color: burlywood;
    border-radius: 50%;
}